@keyframes color-rotation{
	0%		{ background-color: purple; }
	20%		{ background-color: blue; }
	40%		{ background-color: green; }
	60%		{ background-color: orange; }
	80% 	{ background-color: yellow; }
	100%	{ background-color: red; }
}
@keyframes fade-in {
	from	{ opacity: 			0; }
	to 		{ opacity: 			0.85; }
}
#user_list{
	display:					block;
	clear:						left;
}
#brush{
	width:						30px;
	height:						30px;
	border-radius:				50%;
	position:					fixed;
	display:					none;
}
.shadow 		{ box-shadow: 	6px 6px 2px 2px rgba(60, 60, 60, 0.45);}
.scroll{
	overflow-x: 				hidden;
	overflow-y: 				auto;
}
.fade{
	animation-name:				fade-in;
	animation-duration: 		1s;
	animation-timing-function: 	ease-in;
}
.background{
	animation-name:				color-rotation;
	animation-duration: 		30s;
	animation-iteration-count: 	infinite;
	animation-timing-function: 	linear;
	animation-direction: 		alternate;
	animation-delay: 			2s;
	background-color: 			purple;
	opacity: 					0.95;
}
.wrapper{
	background:		#eee;
	opacity: 		1.0;
	margin:			0 auto;
	max-width:		800px;
	min-width: 		400px;
	padding-right:	16px;
	padding-left:	16px;
	padding-top:	12px;
	padding-bottom: 12px;
}
.row:after{
	display:		table;
	clear:			both;
	content:		"";
}
.button	.shadow		{ 
	display: 		block;
	border: 		none;
	background-color: #aaa;
	cursor: 		pointer;
	width:			150px;
	height:			40px;
}
.relative{
	position:		relative;
	margin: 		0px;
}
.horizontal{
	display: 		inline-block;
}
.vertical{
	display:		block;
}
.button:hover {
	background-color: #ddd;
}
.bottom-pane {
	background-color: #eee;
	position: 			fixed;
	justify-content: 	center;
	margin:				0 auto;
	width:				100%;
	height:				10%;
	padding:			0 4%;
	right: 				0;
	left:				0;
	bottom:				0;
	z-index: 			999;
}
.right{
	/* float:			right; */
	margin-left: 		auto;
	margin-right:		0;
}
.separator		{ border-right: 1px; }
.container .shadow	{ 
	width: 			200px;
	height:			8px;
}
.container input{ width: 100%; clear: both; }
.alt-a			{ background-color: #aaa; padding: 8px; margin: 0px; }
.alt-b			{ background-color: #ccc; padding: 8px; margin: 0px; }
form			{ display: block; }
h4				{ margin-top: 6px; margin-bottom: 6px; }
p				{ margin-top: 8px; margin-bottom: 8px; }
input			{ 
	/* display:		block; */
	font-weight: 	bold;
	/* min-width: 		30%; */
	border: 		0px;
	outline:		none;
	font-family:	monospace;
	font-size:		16px;
	font-weight: 	lighter;
	margin: 		0px;
	transition:		all	1s;
}
/* input:hover		{
	width:			300px;
} */
textarea		{ 
	display: 		block;
	border: 		0px;
	outline: 		none;
	width:			20%;
	height: 		80px;
	min-width: 		20%;
	max-width: 		40%;
	min-height:		40px;
	max-height: 	80px;
	font-family:	monospace;
	font-size:		16px;
	resize: 		none;
}
label {
	display:		inline-block;
	width:			30px;
	margin:			2px 4px;
	text-align:		right; 
}
html{
	font-family:	monospace;
	font-size:		16px;
	margin: 		0px;
}
body{
	margin-bottom: 	200px;
}